<app-header></app-header>

<div>

  <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <div class="search_bar">
      <input class="form-control" type="search" formControlName="search" placeholder="Search employee...">
      <button mat-flat-button type="submit" style="float: right;">
        Search
      </button>
    </div>
  </form>
  
  <ul *ngFor="let emp of searched" class="connection__List">
    <li>
      <a routerLink="/profile/{{emp.id}}">
        <img class="employee__image" [src]="emp?.photo"><br>
        <span class="employeeList__name">
          {{ emp.name }} {{ emp.surname }}
        </span>
      </a>
    </li>
  </ul>

  <h3 class="title">
    Connections
  </h3>

  <div class="button-container">
    
    
    <ul class="connection__List" *ngFor="let emp of employee?.connections">
      <li>
        <img class="employee__image" [src]="emp?.photo"><br><br>
        <a class="employeeList__profile" routerLink="/profile/{{ emp.id }}">
          <span class="employeeList__name">
            {{ emp.name }} {{ emp.surname }}</span>
          </a>
          <div *ngIf="emp.jobs?.length && !emp.jobs[0]?.hidden">
            <br>
            {{ emp.jobs[0]?.position }} at {{ emp.jobs[0]?.company }}
          </div>
      </li>
    </ul>
  </div>
      
</div>

