
.title {
  place-items: center;
  display: grid;
  font-size: 25px;
  margin: 40px;
}




.employeeList__name {
    text-align: center;
    font-size: 19px;
    align-self: center;
    color: black;
}

.employee__image {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;

}
  
.employeeList__profile {
    padding: 0;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    white-space: pre; 
}





.button-container {
  /* display: grid;
  grid-column-gap: 10px;
  grid-row: 0px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  grid-template-areas: "cl1 cl2 cl3 cl4";
  overflow-y: auto;
  border-radius: 15px; */
  /* overflow-y: auto; */
  background: rgba(0, 0, 0, 0.15);
  list-style-type: none;
  width: 100%;
  height: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 220px);
  grid-row-gap: .5em;
  grid-column-gap: 1em;
}

.connection__List {
  list-style-type: none;
}
  
.connection__List > li {
    width: 200px;
    height: 180px;
    float: left;
    background: white;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
  }

  .grid-container {
    display: grid;
  
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    grid-template-areas: "cl1 cl2 cl3 cl4";
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(44, 42, 42, 0.8);
    border-radius: 20%;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  #content {
    display: grid;
  
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    grid-template-areas: "cl1 cl2 cl3 cl4";
  }
  #content > * {
    background: turquoise;
    padding: 30px;
  }