<app-header></app-header>

<div style="float: right;margin-right: 250px;margin-top: 20px;">
  <button mat-flat-button (click)="logout()">Logout</button>
</div>
<br>
<br>
<div class="employeeList">
  <h1 class="employeeList__title">
    <span class="employeeList__title">Employees</span>
  </h1>

  <div class="employeeList__profiles">
    <ul *ngFor="let emp of employees">
      <li>
        <button class="employeeList__profile" routerLink="/admin/{{ emp.id }}">
          <span class="employeeList__name">
            {{ emp.name }} {{ emp.surname }}</span
          >
        </button>
      </li>
    </ul>
  </div>
</div>