<app-header></app-header>


<div class="requests" >
    <h3>
        Connection Requests
    </h3>

    <div class="container">
        <ul *ngFor="let emp of pendingConnections">
            <li>
                <a class="employeeList__profile" routerLink="/profile/{{emp.id}}">
                    <span class="employeeList__name">
                        {{ emp.name }} {{ emp.surname }}
                    </span>
                </a>
                <button mat-flat-button id="accept" (click)="handleRequest(true, emp.id)">Accept</button>
                <button mat-flat-button id="deny" (click)="handleRequest(false, emp.id)">Deny</button>
            </li>
        </ul>
    </div>
    
</div>


