

.wrapper {
    position: relative;
}

.wrapper > h3 {
    text-align: center;
    margin: 30px;
}

.employeeList__name {
    text-align: center;
    font-size: 20px;
    align-self: center;
    color: black;
    letter-spacing: 0.64px;
}
  

.container {
    padding: 15px 15px 20px;
    height: 200px;
    width: 450px;
    overflow-y: auto;
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


.mat-flat-button {
    margin: 10px;
    color: white;
}

#accept {
    background-color: green;
}

#deny {
    background-color: red;
}


