
<app-header></app-header>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<section id="content" class="container" style="margin-top: 30px;">
    <!-- Begin .page-heading -->
    <div class="page-heading">
        <div class="media clearfix">
          <div class="media-left pr30">
            <img [src]="employee?.photo">
          </div>
          <div class="media-body va-m">
            <h2 class="media-heading">{{employee?.name}} {{employee?.surname}}</h2>
            <h4 class="lead">Developer</h4>
            <br>
            <button mat-flat-button [disabled]="pendingRequest || requestSent" 
                [ngClass]="{ not_following : !requestSent || pendingRequest , following : requestSent}"
                (click)="handleFollow()" *ngIf="!visible">
            {{ followMessage }}</button>
          </div>
        </div>
    </div>

    <!-- Experience panel -->
    <div class="panel">
          <div class="panel-heading">
            <span class="panel-icon">
                <i class="fa fa-star"></i>
            </span>
            <span class="panel-title"> Experience</span>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn" data-toggle="modal" data-target="#experienceModal" *ngIf="visible">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>

            <div class="modal fade" id="experienceModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header" style="text-align: center;font-weight: bold;">
                    Add job
                    <button type="button" class="close" data-dismiss="modal">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="jobForm" (ngSubmit)="submitJob()" style="text-align: center;">
                      <input
                        type="text"
                        placeholder="Position"
                        formControlName="position"
                      />
                      <br />
                      <input
                        type="text"
                        placeholder="Company"
                        formControlName="company"
                      />
                      <br />
                      <input
                        type="text"
                        placeholder="Location"
                        formControlName="location"
                      />
                      <br />
                      <select class="form-select" aria-label="Default select example" formControlName="type">
                        <option [ngValue]="null" [disabled]="true">Select type of employement</option>
                        <option value="1">Full time</option>
                        <option value="2">Part time</option>
                        <option value="3">Internship</option>
                        <option value="4">Volunteer</option>
                      </select>
                      <br />
                      <label>
                        Start date:
                        <input type="date" formControlName="startDate" />
                      </label>
                      <br>
                      <label>
                        &nbsp;&nbsp;End date:
                        <input type="date" formControlName="endDate" />
                      </label>
                      <br />
                      <div style="margin-left: 20px">
                        <input type="checkbox" formControlName="hidden" /> Hidden
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-default" [disabled]="jobForm.invalid">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          Close
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="panel-body pb5">

            <ul *ngFor="let job of employee?.jobs">
                <li *ngIf="!job.hidden || visible">
                  <h4>{{job.position}}</h4>
                    <span class="text-muted">&nbsp;,&nbsp;{{job.typeString}}</span>
                  <p class="text-muted"> {{job.location}}
                    <br> {{job.company}},&nbsp; {{job.startDate}} {{job.endDate}}
                  </p>
                </li>
              <hr class="short br-lighter">
            </ul>

        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
          <span class="panel-icon">
              <i class="fa fa-pencil"></i>
          </span>
          <span class="panel-title">Education</span>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn" data-toggle="modal" data-target="#educationModal" *ngIf="visible">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>

          <div class="modal fade" id="educationModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="text-align: center;font-weight: bold;">
                  Add education
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="certificateForm" (ngSubmit)="submitCertificate()" style="text-align: center;">
                    <input
                      type="text"
                      placeholder="School"
                      formControlName="school"
                    />
                    <br />
                    <input
                      type="text"
                      placeholder="Degree"
                      formControlName="degree"
                    />
                    <br />
                    <input
                      type="text"
                      placeholder="Field"
                      formControlName="field"
                    />
                    <br />
                    <input
                      type="number"
                      placeholder="Grade"
                      formControlName="grade"
                    />
                    <br />
                    <label>
                      Start date:
                      <input type="date" formControlName="startDate" />
                    </label>
                    <br>
                    <label>
                      &nbsp;&nbsp;End date:
                      <input type="date" formControlName="endDate" />
                    </label>
                    <br />
                    <div style="margin-left: 20px">
                      <input type="checkbox" formControlName="hidden" /> Hidden
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-default" [disabled]="certificateForm.invalid">Save</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body pb5">

            <ul *ngFor="let cert of employee?.certificates">
                <li *ngIf="!cert.hidden || visible">
                    <h4>{{cert.school}}</h4>
                    <p class="text-muted"> 
                      {{cert.degree}}, &nbsp; {{cert.field}}
                        <br>{{cert.startDate}} {{cert.endDate}}
                    </p>
                    <p class="text-muted" *ngIf="cert.grade">
                      Grade: {{cert.grade}}
                    </p>
                    <hr class="short br-lighter">
                </li>
            </ul>

        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
          <span class="panel-icon">
              <i class="fa fa-trophy"></i>
          </span>
          <span class="panel-title"> Skills</span>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn" data-toggle="modal" data-target="#skillsModal" *ngIf="visible">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
          <div class="modal fade" id="skillsModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="text-align: center;font-weight: bold;">
                  Add skill
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="skillForm" (ngSubmit)="submitSkill()" style="text-align: center;">
                    <input
                      type="text"
                      placeholder="Skill"
                      formControlName="skill"
                    />
                    <br />
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-default" [disabled]="skillForm.invalid">Save</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel-body pb5">

            <ul *ngFor="let skill of employee?.skills">
                <li>
                    <span class="label label-primary mr5 mb10 ib lh15">{{skill}}</span>
                </li>

            </ul>

        </div>
    </div>

</section>
