

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />



<app-header></app-header>



<div class="sidebar">
  <div class="sidebar_top">
    <img [src]="employee?.photo" class="sidebar_avatar">
    <h2><a routerLink="/profile/{{employee?.id}}">{{employee?.name}} {{employee?.surname}}</a></h2>
    <h4>{{employee?.jobTitle}}</h4>
    <h3><a>Grow your network</a></h3>
  </div>

</div>