
.no_selected {
    background-color: white;
  }
  
.selected {
    border-bottom: 5px solid black;
}


  
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

html.body {
  background: #f5f6fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_navbar ul {
  display: table;
  margin: 0 auto;
  padding-left: 0px;
  top: 0;
}

.top_navbar li {
  margin: 0;
  padding: 0;
}
.top_navbar a {
  margin: 0;
  padding: 0;
}
.top_navbar ul {
  list-style: none;
}
.top_navbar a {
  text-decoration: none;
}
.top_navbar {
  height: 75px;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.top_navbar > ul > li {
  display: inline-block;
  margin-top: 30px;
  padding-bottom: -20px;
}
.top_navbar > ul > li > a {
  color: rgba(40, 42, 42, 0.5);
  font-family: Verdana, "Lucida Grande";
  font-size: 15px;

  padding-right: 10px;
}
.top_navbar > ul > li > a:hover {
  color: #ffffff;
  box-shadow: white;
}
.top_navbar > ul > li > a:hover,
a:active {
  background: none;
  color: rgba(0, 0, 0, 0.4);
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1222px) {
  .top_navbar > ul > li > a {
    font-size: 13px;
  }
  .top_navbar > ul {
    height: 100px;
  }
}

@media (max-width: 1122px) {
  .checkbtn {
    display: block;
  }
  label.logo {
    color: white;
    font-size: 35px;
    font-family: "Arial";
    line-height: 50px;
    padding: 0 100px;
    font-weight: bold;
  }
  .top_navbar > ul {
    position: fixed;
    width: 65%;
    height: 50px;
    background: whitesmoke;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .top_navbar > ul > li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .top_navbar > ul > li > a {
    font-size: 20px;
  }
  .top_navbar > ul > li > a:hover,
  a:active {
    background: none;
    color: rgba(0, 0, 0, 0.4);
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.icon-top_navbar {
  font-size: 20px;
  left: 40%;
  position: relative;
  top: -20px;
  margin-left: -5px;
}

.profile-picture-icon {
  /* display: block; */
  /* width: 10px; */
  /* height: 10px; */
  /* border-radius: 50%; */
  display:block;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 100%;
  box-sizing: border-box;
  border-bottom: 50px solid transparent;
  /* margin: 0 auto; */
}





.sidebar {
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    float: left;
    width: 16%;
    margin: 40px;
  }
  
  .sidebar_avatar {
    margin-bottom: 10px;
  }
  
  .sidebar_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color: white;
  }
  
  .sidebar_top > img {
    margin-bottom: -20px;
    height: 60px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  
  .sidebar_top > h4 {
    color: gray;
    font-size: 12px;
  }
  
  .sidebar_top > h2 {
    font-size: 18px;
  }
  
  .sidebar_hash {
    margin-right: 10px;
    margin-left: 10px;
  }